@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.container{
  min-height: 100vh;
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 500px;
  height: 300px;
  color: #fff;
  cursor: pointer;
}

.card-inner{
  width: 100%;
  height: 100%;
  position: relative;
}

.front,.back{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(95deg,#000046,#40b8da);
  border-radius: 20px;
  padding: 30px 30px;
  overflow: hidden;
  position:absolute;
  z-index: 1;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icone{
  max-height: 40px;
  z-index: 10;
}
.map{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.card-number{
  font-size: 1.5rem;
  margin-top: 60px;
}
.up{
  font-size: 1.1rem;
  margin-top: 60px;
}
.down{
  font-size: 1.5rem;
  margin-top: 5px;
}
.bar{
  background: #222;
  margin: 0px -30px  ;
  height: 60px;
}
.card-cvv{
  margin-top: 20px;
}

.card-cvv div{
  flex: 1;
}
.card-cvv img{
  width: 100%;
  display: block;
  line-height: 0;
}

.card-cvv p{
  background: #fff;
  color: #000;
  font-size: 1.4rem;
  padding: 10px 20px;
}

.card-text{
  margin-top: 30px;
  font-size: 1rem;
}
.signature{
  margin-top: 30px;
}